h1 {

    text-align: center;
    background-color: aqua;
    color: pink;
    font-size: large;
    font-weight: 900;




}

ul{

    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;


}

